html, body, input, textarea {
	font: 				13px Verdana, Arial;
}

html, body {
	padding: 			0px;
	margin: 			0px;
	font-family: 		"open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:  		13px;
	color: 				#eee;
	background-color: 	#222;
}

body {
	-webkit-touch-callout: 	none; /* iOS Safari */
    -webkit-user-select: 	none; /* Chrome/Safari/Opera */
     -khtml-user-select: 	none; /* Konqueror */
       -moz-user-select: 	none; /* Firefox */
        -ms-user-select: 	none; /* Internet Explorer/Edge */
            user-select: 	none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

#header {
	margin: 			10px;
}

#header div {
	position: 			relative;
	float: 				left;
	width: 				10px;
	height: 			10px;
}

#progress {
	position: 			absolute;
	left: 				200px;
	top: 				10px;
	z-index: 			3;
}

#period {
	position: 			absolute;
	left: 				10px;
	top: 				10px;
	z-index: 			3;
}

#period .period, #progress .next_workout {
	cursor: 			pointer;
	margin: 			0px;
	padding: 			2px;
	padding-left: 		10px;
	padding-right: 		10px;
	color: 				#666;
	border: 			1px solid #333;
	border-radius: 		1px 3px 3px 3px;
}

#workouts {
	color: 				#666;
}

#input {
	position: 			absolute;
	top: 				0px;
	left: 				0px;
	margin: 			10px;
	padding: 			10px;
	width: 				350px;
	height: 			200px;
	border: 			1px solid #333;
	border-radius: 		1px 3px 3px 3px;
	color: 				#ccc;
	background-color: 	rgba(32, 32, 32, 0.9);
	z-index: 			2;
}

#graph {
	position: 			relative;
	left: 				0px;
	top: 				10px;
	padding: 			10px;
	z-index: 			1;
}

#results {
	position: 			absolute;
	top: 				210px;
	left: 				0px;
	margin: 			10px;
	padding: 			10px;
	border: 			1px solid #333;
	border-radius: 		1px 3px 3px 3px;
	color: 				#ccc;
	background-color: 	rgba(32, 32, 32, 0.9);
	clear: 				both;
}

#debug {
	display: 			none;
}

input {
	text-align: 		center;
}

hr {
	height: 			1px;
	border: 			0px;
	border-bottom: 		1px solid #333;
	line-height: 		1px;
	margin: 			0px;
	margin-bottom: 		10px;
	padding: 			0px;
}

.active {
	color: 				#09e !important;
	text-decoration: 	underline;
}

.underline {
	text-decoration: 	underline;
}
