html, body, input, textarea {
	font: 				13px Verdana, Arial;
}

html, body {
	padding: 			0px;
	margin: 			0px;
	font-family: 		"open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:  		13px;
	color: 				#eee;
	background-color: 	#222;
}

body {
	-webkit-touch-callout: 	none; /* iOS Safari */
    -webkit-user-select: 	none; /* Chrome/Safari/Opera */
     -khtml-user-select: 	none; /* Konqueror */
       -moz-user-select: 	none; /* Firefox */
        -ms-user-select: 	none; /* Internet Explorer/Edge */
            user-select: 	none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

#header {
	margin: 			10px;
}

#header div {
	position: 			relative;
	float: 				left;
	width: 				10px;
	height: 			10px;
}

#period {
	position: 			absolute;
	left: 				10px;
	top: 				10px;
	z-index: 			3;
}

#period .period, #progress .next_workout {
	cursor: 			pointer;
	margin: 			0px;
	padding: 			2px;
	padding-left: 		10px;
	padding-right: 		10px;
	margin-left: 		3px;
	margin-bottom: 		3px;
	display:			inline-block;
	color: 				#666;
	border: 			1px solid #333;
	border-radius: 		1px 3px 3px 3px;
}

#workouts {
	color: 				#666;
}

/*
#input {
	position: 			absolute;
	top: 				0px;
	left: 				0px;
	margin: 			10px;
	padding: 			10px;
	width: 				350px;
	height: 			200px;
	border: 			1px solid #333;
	border-radius: 		1px 3px 3px 3px;
	color: 				#ccc;
	background-color: 	rgba(32, 32, 32, 0.9);
	z-index: 			2;
}
*/

#graph {
	position: 			absolute;
	left: 				0px;
	width:				95%;
	bottom: 		    20px;
	padding: 			10px;
	z-index: 			1;
}

#stats_period, #stats_sum, #chain_wear_cube, #chain_wear_focus {
	position:			relative;
	float:				left;
	margin-right:		20px;
}

#stats_sum, #chain_wear_cube, #chain_wear_focus {
	padding:			14px;
	border: 			1px solid #fe0;
	border-radius: 		1px 3px 3px 3px;
	color: 				#fe0;
	background-color: 	rgba(32, 32, 32, 0.9);
}

#chain_wear_cube {
	border: 			1px solid #f4f;
	color: 				#f4f;
}

#chain_wear_focus {
	border: 			1px solid #4ff;
	color: 				#4ff;
}

#results {
	position: 			absolute;
	top: 				150px;
	left: 				0px;
	margin: 			10px;
	padding: 			10px;
	border: 			1px solid #333;
	border-radius: 		1px 3px 3px 3px;
	color: 				#ccc;
	background-color: 	rgba(32, 32, 32, 0.9);
	clear: 				both;
}

#debug {
	display: 			none;
}

input {
	text-align: 		center;
}

hr {
	height: 			1px;
	border: 			0px;
	border-bottom: 		1px solid #333;
	line-height: 		1px;
	margin: 			0px;
	margin-bottom: 		10px;
	padding: 			0px;
}

.selected {
	color: 				#09e !important;
	border:				1px solid #09e !important;
	z-index:			3;
}

.active {
	color: 				#09e !important;
	text-decoration: 	underline;
}

.underline {
	text-decoration: 	underline;
}

#load_more {
	color: #666;
	cursor: pointer;
}

#load_more > i:hover {
	color: #09f;
}