#results .results {
	position: 			relative;
	clear: 				both;
}

#results .results > div {
	-webkit-transition: background-color 0.2s linear;
	-moz-transition: 	background-color 0.2s linear;
	-ms-transition: 	background-color 0.2s linear;
	-o-transition: 		background-color 0.2s linear;
	transition: 		background-color 0.2s linear;
}

#results .results > div:hover {
	color: 				#09f;
}

#results .results:hover > div {
	background-color: 	rgba(255, 255, 255, 0.1) !important;
}

#results .descr, #results .value, #results .date {
	position: 			relative;
	float: 				left;
	text-align: 		center;
	margin: 			1px;
	padding: 			5px;
	padding-left: 		8px;
	padding-right: 		8px;
	border: 			1px solid #333;
	border-radius: 		1px 3px 3px 3px;
	overflow: 			hidden;
}

#results .value {
	text-shadow: 		0px 0px 0px #000;
}

#results .descr {
	color: 				#09f;
	background: 		rgba(255, 255, 255, 0.1);
	cursor: 			pointer;
}

#results .edit_cell {
	position: 			absolute;
	top: 				0px;
	left: 				0px;
	padding-left: 		7px;
	padding-right: 		8px;
	color: 				#fff;
	background-color: 	rgba(60, 60, 60, 0.9);
	border: 			1px solid #09f !important;
	border-radius: 		1px 3px 3px 3px;
	z-index: 			10;
	outline: 			hidden;
}

#results input {
	padding-top: 		0px;
}

#results textarea {
	padding-top: 		4px;
}

#results .new_month {
	padding-top:		2px;
	background-color: 	#282;
}

#results .weekend {
	padding-top:		1px;
	background-color: 	#c62;
}

#results .today {
	padding-top:		1px;
	background-color:	#09f;
}

#results .we {
	color: 				#c62;
}

/* workout cells */

#results .suggestion_mild {
	color:				#888;
   -webkit-animation:	fadeinout 3s infinite;
   -moz-animation:		fadeinout 3s infinite;
   -o-animation:		fadeinout 3s infinite;
    animation:			fadeinout 3s infinite;
}

#results .suggestion_normal {
	color:				#a96 !important;
   -webkit-animation:	fadeinout 2s infinite;
   -moz-animation:		fadeinout 2s infinite;
   -o-animation:		fadeinout 2s infinite;
    animation:			fadeinout 2s infinite;
}

#results .suggestion_strong {
	color:				#f96 !important;
   -webkit-animation:	fadeinout 1.5s infinite;
   -moz-animation:		fadeinout 1.5s infinite;
   -o-animation:		fadeinout 1.5s infinite;
    animation:			fadeinout 1.5s infinite;
}

#results .none {
	background:			none !important;
}

#results .date {
	border: 			1px solid #333;
	background: 		none !important;
	width: 				110px;
	white-space: 		nowrap;
	cursor: 			pointer;
}

#results .pull {
	border: 			1px solid #333;
	background-color: 	#333;
}

#results .powerpull {
	border: 			1px solid #333;
	background-color: 	#333;
}

#results .swing {
	border: 			1px solid #333;
	background-color: 	#333;
}

#results .squat {
	border: 			1px solid #333;
	background-color: 	#333;
}

#results .biceps {
	border: 			1px solid #333;
	background-color: 	#333;
}

#results .triceps {
	border: 			1px solid #333;
	background-color: 	#333;
}

#results .push {
	border: 			1px solid #333;
	background-color: 	#333;
}

#results .wrist {
	border: 			1px solid #333;
	background-color: 	#333;
}

#results .plank {
	border: 			1px solid #333;
	background-color: 	#333;
}

#results .pushups {
	border: 			1px solid #333;
	background-color: 	#333;
}

#results .pullups {
	border: 			1px solid #333;
	background-color: 	#333;
}

#results .bike {
	border: 			1px solid #333;
	background-color: 	#333;
}

#results .route {
	border: 			1px solid #333;
	background-color: 	#333;
	text-align: 		left;
	width: 				240px;
	white-space: 		nowrap;
	text-overflow: 		ellipsis;
}

#results .weight {
	padding-left: 		12px;
	padding-right: 		12px;
	border: 			1px solid #333;
	background-color: 	#333;
}

#results .fat {
	border: 			1px solid #333;
	background-color: 	#333;
}

#results .stomage {
	border: 			1px solid #333;
	background-color: 	#333;
}

#results .chest {
	border: 			1px solid #333;
	background-color: 	#333;
}

#results .arm {
	border: 			1px solid #333;
	background-color: 	#333;
}

#results .roll {
	border: 			1px solid #333;
	background-color: 	#333;
}

#results .food {
	border: 			1px solid #333;
	background-color: 	#333;
	text-align: 		left;
	width: 				300px;
	white-space: 		nowrap;
	text-overflow: 		ellipsis;
}

@keyframes fadeinout {
	50%					{ opacity: 0.5; }
	100%				{ opacity: 1; }
}

@-o-keyframes fadeinout{
	0%					{ opacity: 1; }
	50%					{ opacity: 0.5; }
	100%				{ opacity: 1; }
}

@-moz-keyframes fadeinout{
	0%					{ opacity: 1; }
	50%					{ opacity: 0.5; }
	100%				{ opacity: 1; }
}

@-webkit-keyframes fadeinout{
	0%					{ opacity: 1; }
	50%					{ opacity: 0.5; }
	100%				{ opacity: 1; }
}
