html, body {
	padding: 			0px;
	margin: 			0px;
	font-family: 		"open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:  		13px;
	color: 				#eee;
	background-color: 	#222;
}

#header {
	margin: 			10px;
}

#header div {
	position: 			relative;
	float: 				left;
	width: 				10px;
	height: 			10px;
}

#input {
	position: 			absolute;
	top: 				100px;
	margin: 			10px;
	padding: 			10px;
	width: 				320px;
	border: 			1px solid #333;
	border-radius: 		1px 3px 3px 3px;
	color: 				#ccc;
	background-color: 	rgba(32, 32, 32, 0.9);
}

#input h1 {
	color: 				#09f;
	font-size: 			17px;
	margin: 			0px;
	text-decoration: 	underline;
	cursor: 			pointer;
}

#input .field {
	position: 			relative;
	float: 				left;
	width: 				100px;
}

#input .value {
	position: 			relative;
	float: 				left;
	clear: 				all;
}

#input .s1 {
	color: 				#ffa;
}

#input .s2 {
	color: 				#aff;
}

#input .k1 {
	color: 				#faa;
}

#input .p1 {
	color: 				#aaf;
}

#input .w1 {
	color: 				#faf;
}

#input .r1 {
	color: 				#afa;
}

#input .categorys {
	color: 				#444;
}

#input .category, #input .workout {
	cursor: 			pointer;
	font-size: 			17px;
}

#input .active {
	color: #09e;
}

#input .save_btn {
	margin-left: 		10px;
	cursor: 			pointer;
}

hr {
	height: 			1px;
	border: 			0px;
	border-bottom: 		1px solid #333;
	line-height: 		1px;
	margin: 			0px;
	margin-bottom: 		10px;
	padding: 			0px;
}
