Options +FollowSymLinks
RewriteEngine On

RewriteRule ^=([a-zA-Z0-9_:#\-\/]*)$ /workout/load.php?args=$1 [L]
RewriteRule ^load/([a-zA-Z0-9_:#\-\/]*)$ /workout/load.php?args=$1 [L]
RewriteRule ^error/([0-9]+)$ /workout/error.php?code=$1 [L]

ErrorDocument 400 /workout/error.php
ErrorDocument 401 /workout/error.php
ErrorDocument 404 /workout/error.php
ErrorDocument 403 /workout/error.php
ErrorDocument 500 /workout/error.php

#RewriteRule ^id/([0-9]+)$ /download.php?id=$1 [L]
#RewriteRule ^teema/([0-9]+)/?([0-9]*)$ /index.php?leht=teema&teema=$1&aasta=$2 [L]
#RewriteRule ^dokument/([0-9]+)$ /index.php?leht=dokument&dokument=$1 [L]
#RewriteRule ^kustuta/([0-9]+)/([0-9]*)$ /index.php?leht=kustuta&teema=$1&dokument=$2 [L]
#RewriteRule ^(otsing|kontakt|uued|logi*)$ /index.php?leht=$1 [L]